/* Specific App Styles */
#app {
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 1em;
    justify-content: center;
    background: #127681;
    border-radius: 10px;
    color: #f3c623;
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em;
    padding: 0 0 30px;
}


/* General Section Layout */
.holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 1em;
}

.headline {
    font-size: 2em;
}


/* Entry Results Layout */
.entry {
    display: block;
    background: #84a9ac;
    margin: auto;
    width: 70%;
}

.title {
    text-align: center;
}

#entryHolder {
    margin: 20px;
    padding: 0 2px;
    vertical-align: middle;
}


/* Dynamically generated classes for content and icon associated with`#weather` ID*/
.weatherStatus {
    position: relative;
    bottom: 14px;
}

.icon {
    display: inline;
}


/* Placeholder Text Styling for Zip Code Field */
#zip::placeholder { /* Firefox, Chrome, Opera */ 
    text-align: center;
}

#zip:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    text-align: center;
}

#zip::-ms-input-placeholder { /* Microsoft Edge */ 
    text-align: center;
}


/* Media Queries for Mobile and Tablet */
@media (max-width: 800px) {
    /* Adjust general font size */
    #app,
    .title {
        font-size: 1em;
    }

    /* Adjust app title font size */
    .headline {
        font-size: 1.3em;
        padding: 0;
    }

    /* Adjust width for entry results */
    .entry {
        width: 80%;
    }

    /* Adjust font size for entry results */
    #entryHolder {
        font-size: 0.8em;
    }
}